h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  margin-top: .5rem;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: #4aaaa5;
}


.bg-light {
  background-image: url("../images/concrete-texture.png");
}

.navbar-style {
  border-bottom: 2px solid #ccc;
  height: 60px;
  display: flex;
  align-items: center;
}

.nav-content {
  height: 60px;
  padding: 0!important;
}

.brand-style {
  background-color: #4aaaa5;
  color: #fff!important;
  height: 58px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-family: "Georgia", serif;
}

.main-content {
  margin-right: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;

}

.contact-side {
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

.headshot {
  width: 300px;
  margin: 0 20px 20px 0;
}

.main-body {
  min-height: calc(100vh - 70px);
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-links > a > img {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.footer {
    width: 100%;
    border-top: 5px solid #4aaaa5;
    height: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
}

.btn-mine {
  background-color: #4aaaa5;
  color: #fff;
  margin: 30px 0;
}

/* Portfolio */

.portfolio-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  background-color: #ccc;
  width: 47%;
  margin-bottom: 30px;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.item > a {
  width: 100%;
  text-decoration: none;
}

.item-label {
  background-color: rgba(74,170,165,0.6);
  transition: background-color 0.5s ease;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 10px;

}

.item-label > h2 {
  font-size: 16px;
  text-decoration: none;
}

.item-label:hover {
  background-color: rgba(74,170,165,1);
}

#hangman {
  background-image: url('../images/hang.png');
  background-size: cover;
  background-position: center;
}

#rpg {
  background-image: url('../images/rpg.png');
  background-size: cover;
  background-position: center;
}

#trivia {
  background-image: url('../images/trivia.png');
  background-size: cover;
  background-position: center;
}

#rutgers {
  background-image: url('../images/info.jpg');
  background-size: cover;
  background-position: center;
}

#rock {
  background-image: url('../images/rock.jpg');
  background-size: cover;
  background-position: center;
}


@media (max-width: 768px) {
  .main-content {
    margin-right: 0;
  }

  .headshot {
    width: 100%;
    margin: 0;
  }

  .social-links {
    justify-content: flex-start;
  }

  .portfolio-items {
    flex-direction: column;
  }

  .item {
    width: auto;
  }
}
